<div>
<h1> Details about instute in {{title}} </h1>
<h1>{{2 | exponent : 3 }}</h1>



</div>
<nav class="navbar navbar-default">
        
                <ul class="nav nav-tabs">
    <li><a routerLink= 'students' style="background-color: red;">students list</a></li>
    <li><a routerLink= 'courses' style="background-color: green;">Courses list</a></li>
    <li><a routerLink= 'trainers' style="background-color:yellow">Trainers list</a></li>
    <li><a routerLink= "bindingExamples" style="background-color: blue;">Binding Examples</a></li>
</ul>

</nav>

<router-outlet></router-outlet>
